
<div class="text-center mb-4">
    <a routerLink="/cart" class="btn btn-success">Voir le panier</a>
  </div>
  <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
          <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }} MAD</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Ajouter au panier</button>
          </div>
        </div>
      </div>
    </div>
  
    
  